# DDL stuff
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
# IPython/Jupyter stuff
.ipynb_checkpoints/

#post packaging installation
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg