<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Commodity Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
<!--    	<input name="Commodity Code" placeholder="Commodity Code" required="required"-->
         <label for="commodity">Choose a Commodity:</label>
            <select id="commodity" name="commodity">
                <option value=67>Wheat</option>
                <option value=4>Bajra</option>
                <option value=39>Moong</option>
                <option value=56>Rajma</option>
                <option value=52>Potato</option>
                <option value=42>Onion</option>
                <option value=37>Mango</option>
                <option value=2>Apple</option>
                <option value=64>Turmeric</option>
                <option value=26>Garlic</option>
                <option value=62>Tea</option>
                <option value=21>Coffee</option>
          </select>
        <br>
<!--        <input type="number" name="Commodity Category Code" placeholder="Commodity Category Code" required="required" />-->
        <label for="commodity">Choose a Commodity Category:</label>
            <select id="category" name="category">
                <option value=0>Cereals</option>
                <option value=4>Pulses</option>
                <option value=5>Vegetables</option>
                <option value=2>Fruits</option>
                <option value=1>Condiments and Spices</option>
                <option value=3>Other food articles</option>
          </select>
        <br>
        <input type="number" name="Rainfall Amount" placeholder="Rainfall Amount" required="required" min="0" step=".01" />
        <input type="number" name="Prediction Month" placeholder="Prediction Month" required="required" />
        <input type="number" name="Prediction Year" placeholder="Prediction Year" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
